<div class="container">
  <!-- A container for the app -->
  <div class="ui card">
    <!-- A card for displaying the app content -->
    <h1>Team Generator</h1>
    <!-- A heading for the app -->
    <ul class="list">
      <!-- An unordered list to display the added members -->
      <li *ngFor="let member of members">{{member}}</li>
      <!-- A list item for each member in the members array using ngFor directive -->
    </ul>

    <div class="add-members-container">
      <!-- A container for adding members to the app -->
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <!-- An input field to input the name of a new member -->
      <button (click)="addMember()">Add</button>
      <!-- A button to add the new member to the members array -->
    </div>

    <div class="input-container">
      <!-- A container for the input fields to generate teams -->
      <input
        #numberOfTeamsInput
        type="text"
        [placeholder]="'# of teams'"
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams !== null ? numberOfTeams : ''"
      />
      <!-- An input field to input the number of teams to generate -->
      <button (click)="generateTeams()">Generate</button>
      <!-- A button to generate teams using the input values -->
    </div>

    <div class="teams-container" *ngIf="teams.length > 0">
      <!-- A container for displaying the generated teams -->
      <h2>Generated Teams:</h2>
      <!-- A heading for the generated teams -->
      <div *ngFor="let team of teams">
        <!-- A div for each generated team using ngFor directive -->
        <h3>Team {{teams.indexOf(team) + 1}}</h3>
        <!-- A heading for the team with its index in the teams array -->
        <ul>
          <!-- An unordered list for the members of the team -->
          <li *ngFor="let member of team">{{member}}</li>
          <!-- A list item for each member in the team using ngFor directive -->
        </ul>
      </div>
    </div>

    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    <!-- A paragraph element to display error messages if there are any -->
  </div>
</div>